*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .navbar,
header  .itens{
    display: flex;
    justify-content: flex-end;
    
    max-width: 100%;

    background-color: #1aa;
}
header .itens, header li{
    margin: 15px;
    list-style: none;
    margin-right: 44px;
   
}
header .itens a{
    text-decoration:none;
    color:white;
    cursor: pointer;
    font: inherit;
    font-size: 2rem;
}
.banner{
    background-image: url(https://templates.designwizard.com/e4439ad0-6aff-11e7-992a-ad7fad6e3335.jpg);
   height: 114px;
}
.container{
    padding:540px;
  
}
.galeria, h2{
   padding: 50px;
   
}

.galeria img{
    height: 250px;
}





.footer{
    padding: 50px;
    min-height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    background-color: grey;
}

 @media screen and (min-width:320px) and (max-width: 800px) {
body{

    
    
}
header .navbar,
header  .itens{
    display: flex;
    justify-content: center;
   font-size: 4pt;
}
.container{
    padding:10px;
  
}
.galeria, h2{
   padding: 10px;
}
.galeria img{
    min-width: 43px;
    max-width: 135px;
height: auto;
}

    .footer{
        background-color: rgb(165, 165, 165);
    }
 }